A:link {text-decoration:none; color:#007bb6; }
A:visited {text-decoration:none; color:#007bb6; }
A:active {text-decoration:none; color:#007bb6; }
A:hover {text-decoration:underline; color:#7dd6ff; }

body {
  color: #111111;
  background: #fff;
}

#pagecontentdiv { background: #fff; }

#dlgdiv { background-color: #f2fbff; }

button, .loginbutton {
  cursor:pointer; margin:5px 10px 0px 10px; padding:5px; font-size:medium;
  color:#000033; background:#7dd6ff;
}
